<!DOCTYPE html>
<html>
    <head>
        <title>Mancala</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div id="app">
            <start-screen
                v-if="!gameStarted"
                v-on:players-confirmed="startGame">
            </start-screen>
            
            <game-screen
                v-else
                v-bind:game-state="gameState"
                v-on:move-it="makeMove"
                v-on:restart-game="startNewGame">
            </game-screen>
        </div>

        <script>

            /**
             * The screen shown before the game starts, prompting players to enter their names.
             */
            Vue.component('start-screen', {
                data() {
                    return {
                        playerOne: undefined,
                        playerTwo: undefined,
                        errorMessage: "",
                    }
                },
                template: `
                    <div>
                        <input
                            placeholder="Player 1 name"
                            v-model="playerOne" />

                        <input
                            placeholder="Player 2 name"
                            v-model="playerTwo" />

                        {{ errorMessage }}

                        <button v-on:click="confirmPlayers">Start</button>
                    </div>
                `,
                methods: {
                    confirmPlayers() {
                        if (!this.playerOne) {
                            this.errorMessage = "Player 1 name is required";
                            return;
                        }

                        if (!this.playerTwo) {
                            this.errorMessage = "Player 2 name is required";
                            return;
                        }

                        this.errorMessage = "";

                        this.$emit('players-confirmed', this.playerOne, this.playerTwo);
                    }
                }
            });

            Vue.component('game-screen', {
                props: [ 'gameState' ],
                template: `
                    <div v-if="gameState.gameStatus.endOfGame === 'false'">
                        {{ gameState.players[0].name }} vs. {{ gameState.players[1].name }}

                        <ul v-for="player in gameState.players">
                            <button
                                v-for="pit in player.pits"
                                v-bind:disabled="player.hasTurn==='false'"
                                v-on:click="$emit('move-it', pit.index)">
                                {{ pit.index }} has {{ pit.nr_of_stones }}
                            </button>
                        </ul>
                    </div>

                    <div v-else>
                    <p>
                    The final step has been made.
                    Player {{ gameState.gameStatus.winner }} has won the game!
                    </p>
                    
                    <button v-on:click="newGame">Start a new game</button>
                    </div>
                `,
                methods: {
                    newGame() {
                        this.$emit('restart-game')
                    }
                }
            });
        
            const app = new Vue({
                el: '#app',

                data: {
                    gameState: undefined,
                },

                computed: {
                    gameStarted() {
                        return this.gameState != undefined;
                    }
                },

                methods: {
                    async startGame(playerOne, playerTwo) {
                        const response = await fetch('api/players', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ nameplayer1: playerOne , nameplayer2: playerTwo })
                        });
                        const gameState = await response.json();

                        this.gameState = gameState;
                    },
                    async makeMove(index) {
                        const response = await fetch('api/play/'+index, {
                            method: 'PUT',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                        });
                        const gameState = await response.json();

                        this.gameState = gameState;
                    },
                    startNewGame: function(){
                        this.gameState = undefined;
                    }
                }
            });
        
        </script>

    </body>
</html>